{% extends "layout.html" %}

{% block heading %}
	Welcome page
{% endblock %}

{% block body %}

	<h1> Welcome to the Club!!! </h1>

	<h1> We are glad that you are here.</h1>
	<h1> Please signup or login. </h1>

	<h1> Already have an account? <a href="{{ url_for('login') }}"> login </a> </h1>
	<font color="red"> <h1> {{ message }} </h1></font>


	<form action="{{ url_for('registration_login') }}" method="post">

	<div class="form-group">
	<label>Username</label>
	<input class="form-control" name="username" placeholder="Your Username">
	</div>

	<div class="form-group">
	<label >Password</label>
	<input type="password" class="form-control" name="password" placeholder="Your Password">
	</div>

	<div class="form-group">
	<label >Re-type Password</label>
	<input type="password" class="form-control" name="re_password" placeholder="Re-type Password">
	</div>

	<div class="form-group">
		<button class="btn btn-primary">Register</button>
	</div>

{% endblock %}