{% extends "layout.html" %}

{% block heading %}
	This is what we got for you.
{% endblock %}

{% block body %}

<h3> {{page_title}}</h3>
<div>
    <h1>{{bookInfo['title']}}</h1>
    <h5>Book Name: {{bookInfo['name']}}</h5>
    <h5>Total Reviews: {{bookInfo['text_reviews_count']}}</h5>
    <h5>ISBN-10: {{bookInfo['isbn']}}</h5>
    <h5>Average Rating: {{bookInfo['average_rating']}}</h5>
    <h5>Total Reviews: {{bookInfo['text_reviews_count']}} </h5>
</div>

<div>
    <h1>All Reviews</h1>
	{%for review in all_reviews%}
	<h5> {{ review }} </h5>

</div>

&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;
&nbsp;



<h3> Please click <a href="{{ url_for('search') }}"> HERE </a> to search another book. </h5>
<h5> please click <a href="{{ url_for('logout_user') }}"> HERE </a> to log out </h5>
{%else%}
	<h4> We were unable to find the book. Please modify your search and try again. </h4>
	<h2> Click <a href="{{ url_for('login_submit') }}> here to search again."> </a> </h2>
{%endfor%}
{% endblock %}